.navbar-default{
  background-color: #fff;
  border: 0px;
  text-align: center;
  font-size: 14px;
  color: $gray-light;
.navbar-default, .navbar-nav > li > a {
    color: $gray-light;
    font-weight: 500;
    &:hover {
          color: $gray-base;
          text-decoration: none;
      }
      &:visited {
            text-decoration: none;
        }
  }
}
