.navbar-default .navbar-brand {
  &-container {
    float: left;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    .navbar-brand {
    text-align: center;
    }
  }
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-transform: none;
  font-size: 36px;

}

.navbar-container{
  @include tablet-up(){
    float: left;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    .navbar-container > ul{
    text-align: center;
    }
  }
}

.navbar-default{
  background-color: #fff;
  border: 0px;
  text-align: center;
  font-size: 14px;
  color: $gray-light;
  margin: 0 auto;
.navbar-default, .navbar-nav > li > a {
    color: $gray-dark;
    font-weight: 500;
    font-size: 13px;
    -webkit-transition: opacity .35s cubic-bezier(0.0, 0.0, 0.2, 1);
     -moz-transition: opacity .35s cubic-bezier(0.0, 0.0, 0.2, 1);
      -ms-transition: opacity .35s cubic-bezier(0.0, 0.0, 0.2, 1);
       -o-transition: opacity .35s cubic-bezier(0.0, 0.0, 0.2, 1);
          transition: opacity .35s cubic-bezier(0.0, 0.0, 0.2, 1);
    &:hover {
          color: $gray-light;
      }
      &:visited {
            text-decoration: none;
        }
  }
}
